.app-root {
  margin-top: 200px;
  max-width: 900px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.header {
  margin-bottom: 25px;
  display: flex;
  font-size: 80px;
  padding-left: 40px;
  border-bottom: 3px solid #3399cc;
}

.content {
  margin-left: 40px;
}

.references {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.reference {
  min-width: 160px;
}

.reference-img {
  width: 80px;
  height: 80px;
}
