.app-root {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding: 0 50px;
  max-width: 900px;
  margin-bottom: 100px;
}

.header-container {
  width: 100%;
}

.header {
  border-bottom: 3px solid #3399cc;
  display: flex;
  flex: 1 0;
  font-size: 80px;
  margin-bottom: 25px;
  padding-bottom: 10px;
}

@media only screen and (min-width: 1000px) {
  .app-root {
    margin-top: 200px;
  }

  .header {
    padding-left: 150px;
    padding-right: 60px;
  }
}

@media only screen and (max-width: 999px) {
  .app-root {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .header {
    justify-content: center;
    text-align: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%; 
}

.references {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.reference-container {
  display: flex;
  flex-basis: 150px;
  justify-content: center;
  margin-bottom: 10px;
}


.reference-img {
  width: 80px;
  height: 80px;
}
